
/prj/*/*/*/*
/prj/*/*_qt/Makefile
/prj/*/*_qt/*.cpp
#/prj/*/*/*
!/prj/*/*_vs/*.vdproj
!/prj/*/*_vs/*.sln
!/prj/common/common_vs/*.props
!/prj/common/common_vs/*/*.props
!/prj/common/common_qt/*.pri
